@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 95vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.title{
    margin-top: 30px;
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.106);

}

.topic{
    font-family: 'Comic Neue', cursive;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: rgb(223, 108, 255);
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.341);
}

.topic:hover{
    background-color: rgb(161, 46, 238);
}
.topic-selected{
    font-size: 18px;
    font-family: 'Comic Neue', cursive;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: rgb(161, 46, 238);
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.341);
}

.type{
    font-family: 'Comic Neue', cursive;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: rgb(99, 197, 250);
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.341);
    
}

.type:hover{
    background-color: rgb(51, 166, 248);
}
.type-selected{
    font-size: 18px;
    font-family: 'Comic Neue', cursive;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: rgb(51, 166, 248);
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.341);

}

.action{
    font-family: 'Comic Neue', cursive;
    margin-top: 30px;
    padding: 10px 18px;
    border-radius: 14px;
    background-color: rgb(247, 94, 232);
    color: white;
    font-size: 20px;
    transition: 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.341);
}
.action:hover{
    background-color: rgb(215, 60, 205);
}
.action-disabled, .action-disabled:hover{
    font-family: 'Comic Neue', cursive;
    margin-top: 30px;
    padding: 10px 18px;
    border-radius: 14px;
    background-color: rgb(234, 212, 248);
    cursor: not-allowed;
    color: white;
    font-size: 20px;
    touch-action: none;
    // display: none;
}



.option-title{
    font-size: 18px;
    margin-left: 0px;
    margin-top: 10px;
    font-family: 'Comic Neue', cursive;
    background-color: #e9e8ec;
    width: fit-content;
    padding: 5px 10px;
}


@media screen and (max-width: 700px) {
    .container{
        background-position-x: center;
    }
    .title{
        font-size: 45px;
        text-align: center
    }
    .option-title{
        font-size: 22px;
        margin-left: 20px;
        margin-top: 10px;
        font-family: 'Comic Neue', cursive;
    }
}